html {
	background-image: url(son.png);
	background-color: green;
}

h1 {
	color:red;
	text-align : center;
	border-style: dashed;
	border-width: 5px;
	margin-left : 35px;
	margin-right : 35px;
	padding-top : 20px;
	padding-bottom : 20px;
	background-color : blue;
		
}

p {
	color : red;

}
#mainContent{
		margin-left: 85px
		margin-right: 85px
}
	
}
html {
	background : green;
}
.song{
	display : block;
	margin-left: auto;
	margin-right: auto;
}
.mysong{
	text-align : center;
}






